.Navbar {
    /* background: rgb(3, 0, 32); */
    background: black;
    width: auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.Navbar a {
    text-decoration: none;
    font-weight: bold;
    background: none;
    color: white;
    transition: all 0.5s ease;
}

.Navbar a:hover {
    opacity: 0.8;
}

.Navbar a.Navbar-active {
    color: aqua;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.2;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}