.Snickers {
    width: auto;
    height: 85vh;
    display: grid;
    justify-content: center;
    text-align: center;
}

.Snickers a {
    color: rgb(247, 0, 205);
    animation: fade 3s linear infinite;
}

.Snickers img {
    background: rgba(0, 0, 0, 0);
    margin-top: 10%;
    width: auto;
    height: auto;
    animation: fade 2s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.2;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}